@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import "tailwindcss";

:root {
  --background: #f9fafb;
}

@theme inline {
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-500: #64748b;
  --color-slate-400: #94a3b8;
  --color-slate-300: #cbd5e1;
  --color-slate-200: #e2e8f0;
  --color-slate-100: #f1f5f9;

  --color-violet-600: #7c3aed;
  --color-violet-100: #ede9fe;

  --color-rose-500: #f43f5e;

  --color-lime-300: #bef264;

  --color-amber-800: #92400e;

  --shadow-custom: 2.5px 2.5px 0 0 rgba(0, 0, 0, 1);

  --breakpoint-xs: 30rem;
  --breakpoint-lg: 48rem;
}

body {
  font-family: "NanumSquare", sans-serif;
  background-color: var(--background);
}

textarea::-webkit-scrollbar {
  width: 5px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #fde68a;
  border-radius: 10px;
}
textarea::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
